@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  .gradient {
    background: linear-gradient(#75b3f8, #a974f7);
    border: none;
  }

  .margin {
    margin-left: 5px;
    margin-top: 6px;
  }

  .check {
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }

  .circle {
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: 1px solid #2f3147;
  }

  .image {
    height: 40vh;
    background-image: url(../images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .todo {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      h1 {
        text-transform: uppercase;
        letter-spacing: 10px;
      }

      img {
        height: 20px;
      }
    }

    .create {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 20px;
      padding: 15px;
      width: 100%;
      color: hsl(234, 11%, 52%);
      background-color: hsl(235, 24%, 19%);
      box-shadow: #12151e 5px 5px 5px;
      border-radius: 5px;

      label {
        padding-left: 15px;
      }
    }
  }

  .black {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: hsl(235, 21%, 11%);
    position: relative;

    .overline {
      text-decoration: line-through;
      color: hsl(233, 14%, 35%);
    }

    .list-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid #35374b;
      color: hsl(234, 39%, 85%);
      padding: 15px;

      input {
        background-color: transparent;
        outline: none;
      }

      label {
        padding-left: 15px;
      }
    }

    .options {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      color: hsl(233, 14%, 35%);

      .bg-blue {
        color: #4573ce;
      }

      .status {
        label {
          margin: 5px;
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      margin-top: 300px;
      align-items: center;
      color: hsl(233, 14%, 35%);
    }
  }
}

@media (max-width: 2000px) {
  .content {
    display: flex;
    width: 35%;
    flex-direction: column;
    margin: auto;
  }

  .black {
    .content {
      background-color: hsl(235, 24%, 19%);
      flex-direction: column;
      position: absolute;
      top: -40px;
      box-shadow: #12151e 5px 30px 5px;
      border-radius: 5px;
    }
  }
}

@media (min-width: 2000px) {
  .image {
    position: relative;
  }

  .content {
    display: flex;
    width: 25%;
    flex-direction: column;
    top: 250px;
    position: absolute;
    margin: auto;
  }

  .black {
    .content {
      background-color: hsl(235, 24%, 19%);
      flex-direction: column;
      position: absolute;
      top: -40px;
      box-shadow: #12151e 5px 30px 5px;
      border-radius: 5px;
    }
  }
}
