@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
}

img {
  display: block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.container {
  height: 100vh;

  .we-are-creatives {
    height: 100vh;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .header {
      padding: 15px 0;

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;

        a {
          color: white;
        }

        a,
        button {
          margin-left: 15px;
        }

        button {
          color: black;
          border-radius: 20px;
          padding: 10px 15px;
          background-color: white;
          font-weight: bold;
          font-family: "Fraunces", serif;
        }
      }
    }

    .we-are-creatives-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        color: white;
        letter-spacing: 6px;
        font-weight: bold;
      }
    }
  }

  .transform-your-brand {
    display: flex;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;

      .inner-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        h1 {
          font-weight: bold;
          margin: 0;
        }

        p {
          font-size: 12px;
          font-family: "Barlow", "sans-serif";
        }

        a {
          color: black;
          border-bottom: 5px solid hsl(51, 100%, 49%);
          font-weight: bold;
          font-family: "Fraunces", "serif";
          margin: 10px 0;
        }
      }
    }

    .image {
      flex: 1;
      background-image: url(../images/desktop/image-transform.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .stand-out-to-the-right-audience {
    display: flex;

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;

      .inner-container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        h1 {
          font-weight: bold;
          margin: 0;
        }

        p {
          font-size: 12px;
          font-family: "Barlow", "sans-serif";
        }

        a {
          color: black;
          border-bottom: 5px solid hsl(7, 99%, 70%);
          font-weight: bold;
          font-family: "Fraunces", "serif";
          margin: 10px 0;
        }
      }
    }

    .image {
      flex: 1;
      background-image: url(../images/desktop/image-stand-out.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .graphic-design-photography {
    display: flex;

    .graphic-design {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex: 1;
      background-image: url(../images/desktop/image-graphic-design.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;

      h1,
      p {
        color: hsl(167, 40%, 24%);
      }
    }

    .photography {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex: 1;
      background-image: url(../images/desktop/image-photography.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      text-align: center;

      h1,
      p {
        color: hsl(198, 62%, 26%);
      }
    }

    .text {
      margin: 20px 0;
    }

    h1 {
      font-size: 20px;
    }

    p {
      font-size: 12px;
      font-family: "Barlow", "sans-serif";
    }
  }

  .testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;

    .title {
      margin: 20px 0;

      h1 {
        font-size: 20px;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px 0;

      .testimonial {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        margin: 0 20px;

        .picture {
          img {
            border-radius: 50%;
            height: 50px;
          }
        }

        .sentence {
          margin: 10px 0;

          p {
            font-family: "Barlow", "sans-serif";
            font-size: 12px;
          }
        }

        .name {
          h3 {
            margin: 0;
            font-size: 15px;
          }

          label {
            font-size: 12px;
            font-family: "Barlow", "sans-serif";
          }
        }
      }
    }
  }

  .pictures {
    display: flex;

    .images-1 {
      display: flex;
      flex: 1;

      .image-1 {
        background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1;
        height: 100%;
      }

      .image-2 {
        background-image: url(../images/desktop/image-gallery-orange.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1;
        height: 100%;
      }
    }

    .images-2 {
      display: flex;
      flex: 1;

      .image-3 {
        background-image: url(../images/desktop/image-gallery-cone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1;
        height: 100%;
      }

      .image-4 {
        background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1;
        height: 100%;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: hsl(168, 34%, 41%);
    padding: 30px 0;

    .links {
      margin: 15px 0;

      a {
        margin: 0 10px;
        color: black;
      }
    }

    .social-media {
      display: flex;
      padding: 50px 0;

      img {
        margin: 0 10px;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .transform-your-brand {
    display: flex;
    flex-direction: column-reverse;
  }

  .stand-out-to-the-right-audience {
    display: flex;
    flex-direction: column;
  }

  .graphic-design-photography {
    display: flex;
    flex-direction: column;
  }

  .testimonials {
    .content {
      display: flex;
      flex-direction: column;

      .testimonial {
        padding: 20px 0;
      }
    }
  }

  .pictures {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1400px) {
  .we-are-creatives-content {
    height: 75%;
  }

  .transform-your-brand {
    height: 60vh;
  }

  .stand-out-to-the-right-audience {
    height: 60vh;
  }

  .graphic-design-photography {
    height: 55vh;
  }

  .pictures {
    height: 40vh;
  }
}

@media screen and (min-width: 1400px) {
  .we-are-creatives-content {
    height: 75%;
  }

  .transform-your-brand {
    height: 60vh;
  }

  .stand-out-to-the-right-audience {
    height: 60vh;
  }

  .graphic-design-photography {
    height: 60vh;
  }

  .pictures {
    height: 60vh;
  }
}

@media screen and (min-width: 1500px) {
  .we-are-creatives-content {
    height: 80%;
  }

  .transform-your-brand {
    height: 80vh;
  }

  .stand-out-to-the-right-audience {
    height: 80vh;
  }

  .graphic-design-photography {
    height: 70vh;
  }

  .pictures {
    height: 65vh;
  }
}

@media screen and (min-width: 2500px) {
  .we-are-creatives-content {
    height: 85%;
  }
}
