@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

button,
input,
a {
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.container {
  display: flex;
  height: 100vh;

  .sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0d0f12;
    width: 40vw;

    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 50px;
      width: 600px;

      .logo {
        margin-bottom: 100px;
      }

      .inputs {
        display: flex;
        flex-direction: column;
        width: 100%;
        color: white;

        p {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
        }

        input {
          width: 100%;
          padding: 10px 0;
          background: transparent;
          border: 1px solid #56575a;

          &:focus {
            border: 1px solid #a1a1a1;
          }
        }

        input:first-of-type {
          margin-bottom: 30px;
        }

        button {
          margin-top: 20px;
          padding: 10px 0;
          width: 100%;
          background-color: #0084bd;
          font-weight: 600;

          &:hover {
            transition: 0.2s ease-in-out;
            background-color: #0074ab;
          }
        }
      }

      .options {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
          display: block;
          color: #2ea0d6;
          font-size: 13px;

          &:hover {
            text-decoration: underline;
            color: #0083bb;
          }
        }

        a:first-of-type {
          margin-bottom: 20px;
        }
      }

      .create {
        margin-top: 20px;
        width: 100%;
        border-top: 1px solid #313335;
        padding: 20px 0;

        button {
          background-color: #2d3137;
          width: 100%;
          font-weight: 600;
          padding: 10px 0;

          &:hover {
            background-color: #383f47;
            transition: 0.2s ease-in-out;
          }
        }
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: #a6aaac;
      margin-top: 20px;
      padding-bottom: 20px;

      a {
        color: #a6aaac;
        text-decoration: underline;
      }
    }
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 50px;

    p {
      margin-bottom: 15px;
    }

    button {
      background: transparent;
      color: white;
      border: 1px solid #56575a;
      padding: 13px 20px;
      transition: 0.1s ease-in-out;

      &:focus {
        border: 3px solid #2f5087;
      }
    }
  }
}
