/*
 #333 - dark gray
 #fff - white
 #000 - black
 #ccc - lightgrey
 #ff0 - yellow
 #ff0000 - red
 #00ff00 - green
 #0000ff - blue
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

body {
  margin: 0;
  background-color: hsl(270, 20%, 96%);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-size: 12px;
}

.container {
  display: flex;
  position: relative;

  .color {
    width: 400px;
    background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    height: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    position: relative;

    .phone {
      border-radius: 20px;
      background-color: white;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      right: -250px;
      position: absolute;
      box-shadow: rgba(17, 12, 46, 0.15) 0px 42px 25px 0px;
      padding: 10px;

      .notch {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0 0 15px 15px;
        background-color: white;
        // border: 1px solid red;
        height: 20px;
        width: 120px;
      }

      .who {
        background: linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        border-radius: 20px 20px 0px 0px;
        padding-bottom: 10px;

        .notch-flx {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 20px;

          .notch {
            color: #fff;
            text-align: center;
          }
        }

        .about {
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          width: 290px;
          color: white;
          margin-top: 10px;
          padding-left: 20px;
          padding-right: 20px;

          .info {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin-left: 10px;

            label {
              font-size: 10px;
              opacity: 0.4;
            }

            h1 {
              font-size: 12px;
              margin: 0 10px 0 0;
              padding: 0;
              font-weight: 500;
            }
          }

          .person {
            border: 1px solid white;
            border-radius: 50%;
          }

          img {
            height: 30px;
            color: #fff;
          }

          .arrow {
            height: 20px;
            margin-top: 5px;
          }

          .menu {
            display: flex;
            justify-content: flex-end;
            flex: 1;
            align-items: flex-end;
            margin-top: 10px;

            .dropdown {
              height: 10px;
            }
          }
        }
      }

      .chat {
        background-color: hsl(270, 20%, 96%);
        border-radius: 10px;
        width: 290px;
        padding: 0 10px;

        .send {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          input {
            flex: 1;
            border-radius: 20px;
            height: 40px;
            border: none;
            position: relative;
          }

          button {
            position: absolute;
            border-radius: 50%;
            border: none;
            width: 30px;
            height: 30px;
            background-color: hsl(271, 36%, 24%);
          }
        }

        .text-left {
          display: flex;
          flex-direction: column;
          gap: 10px;
          margin: 10px 0;

          .texting {
            padding: 10px 10px;
            width: 70%;
            border-radius: 15px;
            color: hsl(276, 55%, 52%);
            background-color: #ebe3f3;
          }

          .options {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 10px;

            .custom-radio {
              height: 15px;
              width: 15px;
              background: transparent;
            }

            .option-1 {
              display: flex;
              justify-content: center;
              padding: 10px;
              border-radius: 15px;
              align-items: center;
              color: white;
              width: 70%;
              background: linear-gradient(
                hsl(293, 100%, 63%),
                hsl(264, 100%, 61%)
              );

              span {
                padding-left: 10px;
                font-size: 10px;
              }

              .money {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;

                label {
                  font-weight: 600;
                  padding-right: 20px;
                }
              }
            }

            .option-2 {
              display: flex;
              justify-content: center;
              padding: 10px;
              border-radius: 15px;
              align-items: center;
              color: white;
              width: 70%;
              background: linear-gradient(
                hsl(293, 100%, 63%),
                hsl(264, 100%, 61%)
              );

              span {
                padding-left: 10px;
                font-size: 10px;
              }

              .money {
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;

                label {
                  font-weight: 600;
                  padding: 0;
                  margin: 0;
                }
              }
            }
          }
        }

        .photo-right {
          // margin-top: 10px;
          padding-right: 10px;
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          margin-bottom: 10px;

          .photos {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 10px;

            img {
              border-radius: 10px;
              height: 50px;
            }
          }
        }

        .text-right {
          display: flex;
          align-items: flex-end;
          justify-content: flex-end;
          flex-direction: column;
          gap: 10px;

          .texting {
            padding: 10px 10px;
            width: 70%;
            border-radius: 15px;
            color: hsl(271, 15%, 43%);
            flex-direction: column;
            background-color: #fff;
          }
        }
      }
    }
  }

  .text {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
    width: 500px;
    top: 320px;
    left: 700px;
    position: absolute;
    // margin-left: 50px;

    h1 {
      margin: 0;
      font-size: 45px;
      color: hsl(271, 36%, 24%);
      font-weight: 500;
    }

    p {
      line-height: 1.7;
      opacity: 0.5;
    }
  }
}
