/*
 #333 - dark gray
 #fff - white
 #000 - black
 #ccc - lightgrey
 #ff0 - yellow
 #ff0000 - red
 #00ff00 - green
 #0000ff - blue
*/

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  border: 5px solid red;

  .coming-soon {
    height: 90vh;
    width: 60vw;
    border: 5px solid red;
    background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
    // background: linear-gradient(
    //   hsl(135deg, 10, 0%, 100%),
    //   hsl(135deg, 0, 100%, 98%),
    //   hsl(135deg, 0, 80%, 86%),
    //   hsl(135deg, 0, 74%, 74%)
    // );

    .header {
      padding: 20px 0;
      width: 70%;
      margin: auto;
    }

    .text {
      width: 70%;
      margin: 120px auto;
      border: 1px solid red;

      span {
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 300;
        line-height: 1;
        color: hsl(0, 36%, 70%);
        letter-spacing: 16px;
      }

      h1 {
        margin: 0;
        font-size: 80px;
        letter-spacing: 16px;
        line-height: 1;
        text-transform: uppercase;
      }

      p {
        color: hsl(0, 36%, 70%);
      }

      .signup {
        input {
          width: 400px;
          height: 50px;
          border-radius: 25px;
          border: none;
          padding-left: 20px;
          outline: none;
          position: relative;
          border: 1px solid #efe9e9;
        }

        input::placeholder {
          color: hsl(0, 36%, 70%);
          font-family: "Josefin Sans", sans-serif;
          opacity: 0.5;
        }

        button {
          height: 50px;
          width: 100px;
          border-radius: 25px;
          border: none;
          outline: none;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          background-color: #f5b0b2;
        }
      }
    }
  }

  .image {
    background-image: url(../images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    border: 5px solid red;
  }
}
