/*
 #333 - dark gray
 #fff - white
 #000 - black
 #ccc - lightgrey
 #ff0 - yellow
 #ff0000 - red
 #00ff00 - green
 #0000ff - blue
*/

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Spartan", sans-serif;
}

body {
  margin: 0;
  background-image: url("/ratings/images/bg-pattern-top-desktop.svg");
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: 100px auto;

  .inner-container {
    width: 60%;
    margin: 80px auto 0;

    .top {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .intro {
        width: 70%;

        h1 {
          color: hsl(300, 43%, 22%);
          font-size: 55px;
          padding: 0;
          line-height: 1;
          margin: 0;
        }

        p {
          opacity: 0.8;
        }
      }

      .ratings {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;

        .span-4 {
          grid-column: span 4;
        }

        label {
          margin-left: 20px;
          color: hsl(300, 43%, 22%);
          font-size: 15px;
          font-weight: bold;
        }

        .rating {
          background-color: hsl(300, 24%, 96%);
          display: flex;
          align-items: center;
          padding-left: 20px;
          border-radius: 10px;

          img {
            padding-left: 5px;
          }
        }
      }
    }

    .reviews {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(10, 100px);
      position: relative;
      margin-top: 20px;

      .box-1 {
        height: 245px;
        width: 350px;
        position: absolute;
        background-color: hsl(300, 43%, 22%);
        color: white;
        left: 0;
        top: 0;
        border-radius: 10px;
      }

      .box-2 {
        height: 245px;
        top: 25px;
        width: 350px;
        border-radius: 10px;
        background-color: hsl(300, 43%, 22%);
        color: white;
        left: 430px;
        position: absolute;
      }

      .box-3 {
        width: 350px;
        height: 245px;
        top: 50px;
        border-radius: 10px;
        background-color: hsl(300, 43%, 22%);
        color: white;
        left: 865px;
        position: absolute;
      }

      img {
        margin-top: 30px;
        height: 40px;
        margin-left: 20px;
        width: 40px;
        border-radius: 50%;
      }

      label {
        display: block;
        margin: 0;
        font-size: 14px;
        padding-left: 20px;
        opacity: 0.8;
        padding-right: 20px;
      }

      .who {
        border: 1px solid red;
        padding-top: 30px;
        display: inline-block;

        h4 {
          padding-left: 20px;
          margin: 0px 0 0px 0;
          font-size: 14px;
        }

        label {
          color: hsl(333, 80%, 67%);
          padding-left: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }
}
