/*
 #333 - dark gray
 #fff - white
 #000 - black
 #ccc - lightgrey
 #ff0 - yellow
 #ff0000 - red
 #00ff00 - green
 #0000ff - blue
*/

@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Spartan", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
  height: 100vh;

  .top-section {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .showcase {
      width: 500px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: 55px;
        line-height: 1;
        color: hsl(300, 43%, 22%);
        font-weight: 600;
        margin: 0;
      }

      p {
        color: hsl(303, 10%, 53%);
      }
    }

    .ratings {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      height: 35vh;
      gap: 20px;

      .absolute-1 {
        position: absolute;
        left: 50px;
      }

      .absolute-2 {
        position: absolute;
        left: 120px;
      }

      .rating {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(300, 24%, 96%);
        border-radius: 10px;
        padding: 20px;

        label {
          color: hsl(300, 43%, 22%);
          font-weight: 700;
          padding: 0 20px;
        }

        img {
          padding: 5px;
        }
      }
    }
  }

  .bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0;

    .reviews {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      height: 35vh;
      gap: 40px;

      .absolute-1 {
        top: 30px;
        position: absolute;
      }

      .absolute-2 {
        top: 60px;
        position: absolute;
      }

      .review {
        border-radius: 10px;
        width: 450px;
        padding: 20px;
        background-color: hsl(300, 43%, 22%);
        position: relative;

        .who {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          margin: 0 auto;
          width: 90%;

          img {
            border-radius: 50%;
            height: 40px;
            display: inline-block;
          }

          .info {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            padding-top: 10px;
            flex-direction: column;

            h1 {
              color: white;
              font-size: 14px;
              margin: 0;
            }

            label {
              color: #9e538a;
              font-size: 14px;
            }
          }
        }

        .text {
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            opacity: 0.7;
            padding: 20px;
            color: white;
          }
        }
      }
    }
  }
}
