@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

body {
  margin: 0;
  background: hsl(212, 45%, 89%);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;

  .qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background: #fff;
    border-radius: 15px;

    .qr-code {
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 15px;
        height: 300px;
      }
    }

    .qr-code-body {
      text-align: center;
      font-size: 15px;

      h2 {
        color: hsl(218, 44%, 22%);
      }

      p {
        color: hsl(220, 15%, 55%);
      }
    }
  }
}
