/*
 #333 - dark gray
 #fff - white
 #000 - black
 #ccc - lightgrey
 #ff0 - yellow
 #ff0000 - red
 #00ff00 - green
 #0000ff - blue
*/

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
  box-shadow: 0px 4px 6px -6px #666;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .top-header,
  .brand,
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top-header {
    width: 100%;
    justify-content: flex-end;
    height: 3vh;

    a {
      padding: 0px;
      font-size: 14px;
      color: #991f3d;
      margin-right: 24px;
    }
  }

  .brand {
    margin-top: 20px;
    flex-direction: row;
    width: 50%;
    height: 4vh;
    justify-content: flex-start;
    order: 1;

    img {
      padding-left: 10px;
    }

    input {
      margin-left: 30px;
      width: 40%;
      height: 50px;
      padding-left: 10px;
      outline: none;
      border: 1px solid #ccc;

      &:focus {
        box-shadow: -0.1px -0.1px 1px 1px rgba(0, 0, 0, 0.1);
      }
    }

    button {
      height: 50px;
      background: #666;
      color: #fff;
      width: 60px;
      border: none;
    }
  }

  .links {
    margin-top: 20px;
    flex-direction: row;
    width: 50%;
    height: 4vh;
    justify-content: flex-end;
    order: 3;
    margin-bottom: 20px;

    a {
      padding: 20px;
      font-size: 17px;
      font-weight: bold;
      text-transform: uppercase;
      color: #991f3d;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        height: 2px;
        width: 100%;
        background: #991f3d;
        transform: scale(0);
        transition: transform 500ms ease-in;
      }

      &:hover::before {
        transform: scale(1);
      }
    }
  }
}

button:hover {
  background: #c03;
  cursor: pointer;
}
