/*
 #333 - dark gray
 #fff - white
 #000 - black
 #ccc - lightgrey
 #ff0 - yellow
 #ff0000 - red
 #00ff00 - green
 #0000ff - blue
*/

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Karla", sans-serif;
}

body {
  margin: 0;
  background-color: hsl(204, 43%, 93%);
}

a {
  text-decoration: none;
}

.container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .grid-col {
    grid-column: 1 / 3;
  }

  .join {
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px;
    flex-direction: column;
    background-color: white;
    align-items: flex-start;

    h1 {
      color: hsl(179, 62%, 43%);
    }

    label {
      color: hsl(71, 73%, 54%);
    }

    p {
      opacity: 0.6;
    }
  }

  .subscription {
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #2bb3b1;
    color: white;

    h1 {
      font-size: 18px;
    }

    span {
      font-size: 16px;
      opacity: 0.7;
    }

    label {
      font-size: 30px;
    }

    button {
      padding: 15px 0;
      margin-top: 20px;
      color: white;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: hsl(71, 73%, 54%);
      width: 50%;
    }
  }

  .why-us {
    background-color: #4abebd;
    display: flex;
    justify-content: flex-start;
    padding: 20px 20px;
    flex-direction: column;
    align-items: flex-start;
    color: white;

    p {
      opacity: 0.6;
      width: 60%;
    }
  }
}
