/*
 #333 - dark gray
 #fff - white
 #000 - black
 #ccc - lightgrey
 #ff0 - yellow
 #ff0000 - red
 #00ff00 - green
 #0000ff - blue
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.top-block {
  background-image: url(../images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 45vh;

  .search {
    margin-top: 10px;
    height: 200px;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    margin: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .search-box {
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        width: 500px;
        border-radius: 15px 0 0 15px;
        height: 50px;
        padding-left: 20px;
        font-size: 18px;
        margin: 0;

        input::placeholder {
          opacity: 0.1;
        }
      }

      button {
        height: 50px;
        width: 50px;
        background-color: black;
        border-radius: 0 15px 15px 0;
        padding: 0;
        margin: 0;
        border: none;
        cursor: pointer;
      }
    }
  }

  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;

    .middle-block {
      background-color: white;
      border-radius: 20px;
      height: 150px;
      bottom: -75px;
      padding-top: 20px;
      padding-bottom: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 80%;

      .info {
        flex: 1;
        color: black;
        border-right: 1px solid grey;
        padding-left: 20px;

        strong {
          font-size: 25px;
          font-weight: 700;
        }

        .no-border {
          border: none;
        }

        label {
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 12px;
          color: grey;
          font-weight: 600;
          opacity: 0.7;
        }
      }
    }
  }
}

.bottom-block {
  height: 65vh;
}
