/*
 #333 - dark gray
 #fff - white
 #000 - black
 #ccc - lightgrey
 #ff0 - yellow
 #ff0000 - red
 #00ff00 - green
 #0000ff - blue
*/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Nunito Sans", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.top-block {
  border: 5px solid red;
  height: 35vh;
  position: relative;

  .parent {
    display: flex;
    justify-content: center;
    align-items: center;

    .middle-block {
      border: 5px solid black;
      height: 10vh;
      width: 80%;
      position: absolute;
      bottom: -40px;
    }
  }
}

.bottom-block {
  border: 5px solid blue;
  height: 65vh;
}
