button {
    margin-top: 20px;
    width: 150px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: none;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    outline: none;
    padding: 10px 0;
    cursor: pointer;
  }