@import "utils";
@import "button";
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;1,500&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1 {
  font-size: 25px;
}

p {
  font-size: 12px;
  opacity: 0.5;
}

.container {
  .intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 60vh;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;

    img {
      height: 70px;
    }

    h1 {
      margin-bottom: 0;
      font-size: 25px;
    }

    p {
      opacity: 0.7;
    }
  }

  .track {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px 0;

    h1 {
      font-size: 25px;
    }

    p {
      font-size: 12px;
      opacity: 0.5;
      margin: 0;
    }

    .features {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-top: 30px;
      gap: 50px;

      img {
        height: 400px;
      }

      .text {
        text-align: left;

        h1 {
          margin-bottom: 0;
          font-size: 20px;
        }

        p {
          opacity: 0.5;
        }
      }
    }
  }

  .access {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 30px 0;

    img {
      margin-top: 30px;
      height: 300px;
    }

    p {
      margin: 0;
    }
  }

  .supercharge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    p {
      margin: 0;
    }

    .productivity {
      margin: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      .workflow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
          font-size: 18px;
        }

        .height {
          height: 23px;
        }
      }
    }
  }

  .companies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 20vh;

    img {
      height: 30px;
    }
  }

  .download {
    text-align: center;
    margin: 30px 0;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f6f8;

    label {
      font-size: 12px;
      opacity: 0.7;
    }

    .content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
      margin: auto;
      height: 15vh;

      img {
        height: 40px;
        margin-right: 20px;
      }

      .rows {
        display: flex;
        flex-direction: column;
        width: 100%;

        .row-1 {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 20px;
          gap: 94px;
        }

        .socials {
          height: 10px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;

          img {
            height: 20px;
            margin: 0;
          }
        }

        .row-2 {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-left: 20px;
          gap: 60px;
        }
      }
    }
  }
}
