*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
  background-color: black;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}

input {
  outline: none;
}

.container {
  .showcase::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
  }

  .showcase {
    background-image: url(../images/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 8px solid #222;

    .header {
      padding: 25px 0;
      z-index: 99;

      .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        width: 80%;

        .logo {
          z-index: 99;

          img {
            height: 40px;
          }
        }

        .sign-in {
          z-index: 99;

          a {
            padding: 10px 15px;
            background-color: #e50914;
            color: white;
            border-radius: 5px;
          }
        }
      }
    }

    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
      color: white;
      text-align: center;
      padding-bottom: 100px;
      z-index: 99;

      h1 {
        margin-bottom: 0;
        line-height: 1.2;
        font-size: 50px;
        z-index: 99;
      }

      p {
        font-size: 20px;
        z-index: 99;
      }

      label {
        z-index: 99;
      }

      .sign-up {
        display: flex;
        margin-top: 10px;
        position: relative;
        z-index: 99;

        input {
          width: 480px;
          padding: 20px 0;
          padding-left: 10px;

          &:focus {
            font-weight: bold;
            transition: 0.2s ease-in-out;
            border: 2px solid #328def;
          }
        }

        button {
          background-color: #e50914;
          color: white;
          padding-left: 30px;
          padding-right: 30px;
          text-transform: uppercase;
          font-size: 20px;

          &:hover {
            background-color: #f40612;
          }
        }

        img {
          position: absolute;
          left: 650px;
          top: 18px;
        }
      }
    }
  }

  .spice {
    color: white;
    padding: 50px 0;
    border-bottom: 8px solid #222;

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      margin: auto;
      width: 60%;

      .text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: left;
        padding-left: 50px;

        h2 {
          margin: 0;
          width: 500px;
          font-size: 40px;
          line-height: 1.2;
        }

        p {
          width: 500px;
          font-size: 25px;
          margin-top: 10px;
          line-height: 1.2;
        }
      }

      .image {
        position: relative;

        .card {
          position: absolute;
          padding: 10px 20px;
          border-radius: 10px;
          border: 2px solid rgba(255, 255, 255, 0.25);
          background-color: black;

          .flexbox {
            display: flex;
            justify-content: flex-start;
            align-items: center;
          }

          img {
            width: 60px;
            padding-right: 10px;
          }

          .download {
            color: #0071c5;
          }

          .info {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 80%;
          }
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .faq {
    color: white;
    padding: 50px 0;
    border-bottom: 8px solid #222;

    .flex {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .questions {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .question {
          background-color: #303030;
          width: 700px;
          cursor: pointer;
          font-size: 20px;

          .flexbox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
          }
        }
      }

      label {
        margin-top: 40px;
        margin-bottom: 10px;
      }

      .get-started {
        display: flex;
        position: relative;

        input {
          width: 480px;
          padding: 15px 0;
          padding-left: 10px;

          &:focus {
            font-weight: bold;
            transition: 0.2s ease-in-out;
            border: 2px solid #328def;
          }
        }

        button {
          background-color: #e50914;
          color: white;
          padding-left: 30px;
          padding-right: 30px;
          text-transform: uppercase;
          font-size: 20px;

          &:hover {
            background-color: #f40612;
          }
        }

        img {
          position: absolute;
          left: 650px;
          top: 13px;
        }
      }
    }
  }

  .footer {
    color: #757575;
    padding: 50px 0;

    a {
      color: #757575;

      &:hover {
        text-decoration: underline;
      }
    }

    .flex {
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      .cols {
        display: flex;
        margin-top: 20px;

        .col {
          display: flex;
          flex-direction: column;
          width: 300px;

          a {
            margin-top: 10px;
          }
        }
      }

      .language {
        margin-top: 20px;
        position: relative;

        img {
          height: 20px;
          top: 10px;
          left: 10px;
          position: absolute;
        }

        select {
          padding: 10px;
          background: transparent;
          color: #757575;
          border-radius: 5px;
          padding-left: 35px;
        }
      }

      .netflix {
        margin-top: 20px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 2000px) {
  .showcase {
    height: 100vh;
  }

  .showcase::after {
    height: 100%;
  }

  .spice {
    .browsing {
      position: absolute;
      left: 45px;
      top: 55px;
      height: 150px;
      z-index: -1;
      width: 75%;
    }

    .stranger-things {
      position: absolute;
      left: 65px;
      top: 35px;
      height: 130px;
      z-index: -1;
      width: 65%;
    }

    .card {
      bottom: 20px;
      left: 30px;
      width: 300px;
    }
  }

  .footer {
    .flex {
      width: 70%;
    }
  }
}

@media (min-width: 2000px) {
  .showcase {
    height: 60vh;
  }

  .showcase::after {
    height: 60%;
  }

  .spice {
    .browsing {
      position: absolute;
      left: 85px;
      top: 100px;
      height: 260px;
      z-index: -1;
    }

    .stranger-things {
      position: absolute;
      left: 105px;
      top: 50px;
      height: 230px;
      z-index: -1;
    }
  }

  .card {
    bottom: 20px;
    left: 140px;
    width: 350px;
  }

  .footer {
    .flex {
      width: 40%;
    }
  }
}

@media (max-width: 600px) {
  .showcase {
    h1 {
      font-size: 15px;
    }
  }

  .spice {
    .flex {
      flex-direction: column;
    }
  }
  .faq {
    .flex {
      width: 100%;

      .question {
        width: 100%;
      }
    }
  }

  .footer {
    .row {
      text-align: center;
    }

    .language {
      text-align: center;
    }

    .cols {
      flex-direction: column;
      text-align: center;
    }
  }
}
