@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .top {
    display: flex;
  }

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/twitter-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 55vw;

    img {
      height: 350px;
    }
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 45vw;
    background-color: #15202b;
    padding-left: 35px;
    color: white;

    img {
      height: 50px;
    }

    h1 {
      font-weight: 700;
      font-size: 50px;
      margin-bottom: 0;
    }

    p {
      font-weight: 700;
      font-size: 30px;
    }

    button {
      font-weight: 700;
      width: 320px;
      border-radius: 30px;
      padding: 12px 0;
      border: none;
      outline: none;
      font-family: "Poppins", sans-serif;
    }

    .sign {
      background-color: #1da1f2;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: #1a91da;
        transition: 200ms ease-in-out;
      }
    }

    button:first-of-type {
      margin-bottom: 15px;
    }

    .log {
      background-color: #1da1f2;
      color: #1da1f2;
      border: 1px solid #1da1f2;
      cursor: pointer;
      background-color: #162330;

      &:hover {
        background-color: #162d40;
        transition: 200ms ease-in-out;
      }
    }
  }

  .banner,
  .text {
    height: 95vh;
  }

  .footer {
    background-color: #15202b;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .row {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      a {
        font-size: 12px;
        color: rgb(136, 153, 166);

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        font-size: 12px;
        color: rgb(136, 153, 166);
      }
    }
  }
}

@media (max-width: 3000px) {
  .footer {
    height: 5vh;
  }
}

@media (max-width: 1100px) {
  .footer {
    height: 70vh;
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #15202b;
  }
}

@media (max-width: 600px) {
  .top {
    display: flex;
    flex-direction: column-reverse;

    .text {
      width: 100%;
    }

    .banner {
      width: 100%;
    }
  }

  .footer {
    height: 100vh;
    width: 100%;
  }

  .row {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #15202b;
  }
}
