.bg-grey {
  background-color: hsl(222, 26%, 31%);
  color: white;

  #themeSwitch {
    background-color: hsl(223, 31%, 20%);

    .circle {
      position: absolute;
      background-color: hsl(6, 63%, 50%);
      top: 2px;
      right: 36px;
    }
  }

  .answer-box {
    .box {
      background-color: hsl(224, 36%, 15%);
      color: white;
    }
  }

  .number-board {
    background-color: hsl(223, 31%, 20%);

    .number,
    .operation,
    .decimal {
      background-color: hsl(30, 25%, 89%);
      box-shadow: 0px 0px 4px hsl(28, 16%, 65%);
      color: hsl(221, 14%, 31%);
    }

    .word {
      background-color: hsl(225, 21%, 49%);
      box-shadow: 0px 1px 4px hsl(224, 28%, 35%);
      color: white;
    }

    .equal {
      background-color: hsl(6, 63%, 50%);
      box-shadow: 0px 1px 4px hsl(6, 70%, 34%);
      color: white;
    }
  }
}

.bg-white {
  background-color: hsl(0, 0%, 90%);

  #themeSwitch {
    background-color: hsl(0, 5%, 81%);

    .circle {
      position: absolute;
      background-color: hsl(25, 98%, 40%);
      right: 20px;
      top: 2px;
    }
  }

  .answer-box {
    .box {
      background-color: hsl(0, 0%, 93%);
      color: black;
    }
  }

  .number-board {
    background-color: hsl(0, 5%, 81%);

    .number,
    .operation,
    .decimal {
      background-color: hsl(45, 7%, 89%);
      box-shadow: 0px 1px 4px hsl(35, 11%, 61%);
    }

    .word {
      background-color: hsl(185, 42%, 37%);
      box-shadow: 0px 1px 4px hsl(185, 58%, 25%);
      color: white;
    }

    .equal {
      background-color: hsl(25, 98%, 40%);
      box-shadow: 0px 1px 4px hsl(25, 99%, 27%);
      color: white;
    }
  }
}

.bg-purple {
  background-color: hsl(268, 75%, 9%);
  color: yellow;

  #themeSwitch {
    background-color: hsl(268, 71%, 12%);

    .circle {
      position: absolute;
      top: 2px;
      right: 3px;
      background-color: hsl(176, 100%, 44%);
    }
  }

  .answer-box {
    .box {
      background-color: hsl(268, 71%, 12%);
      color: white;
    }
  }

  .number-board {
    background-color: hsl(268, 71%, 12%);

    .number,
    .operation,
    .decimal {
      background-color: hsl(281, 89%, 26%);
      box-shadow: 0px 1px 4px hsl(285, 91%, 52%);
      color: yellow;
    }

    .word {
      background-color: hsl(268, 47%, 21%);
      box-shadow: 0px 1px 4px hsl(290, 70%, 36%);
      color: white;
    }

    .equal {
      background-color: hsl(176, 100%, 44%);
      box-shadow: 0px 1px 4px hsl(177, 92%, 70%);
      color: black;
    }
  }
}
